body{
   background-image: url("https://crehana-public-catalog.imgix.net/images/resources/images/5b8b958e/ebef0ad2.jpg?w=718&h=404&dpr=2&fit=crop");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


body {

  font-family: Verdana !important;
}